{% extends 'produtos/base.html' %}

{% block titulo %}
    Produtos
{% endblock %}

{% block conteudo %}
    <h1>Lista de produtos(geral)</h1>
        <table border="1">
            <thead>
               <tr>
                <th>Nome</th>
                <th>Preço</th>
               </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Notebook Acer</td>
                    <td>R$ 3200,00</td>
                </tr>
                <tr>
                    <td>Notebook Samsung</td>
                    <td>R$ 3800,00</td>
                </tr>
                <tr>
                    <td>Notebook Lenovo Gaming 3i</td>
                    <td>R$ 8800,00</td>
                </tr>
                <tr>
                    <td>Celular Samsung Z-Fold</td>
                    <td>R$ 12000,00</td>
                </tr>
                <tr>
                    <td>Celular Samsung Z-Flip</td>
                    <td>R$ 6600,00</td>
                </tr>
                <tr>
                    <td>Celular Motorolla V</td>
                    <td>R$ 1100,00</td>
                </tr>
                <tr>
                    <td>Armario Suspenso</td>
                    <td>R$ 500,00</td>
                </tr>
                <tr>
                    <td>Mesa 4 lugares</td>
                    <td>R$ 2000,00</td>
                </tr>
                <tr>
                    <td>Sofa 2 lugares</td>
                    <td>R$ 800,00</td>
                </tr>     
            </tbody>
        </table>
{% endblock %}