<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celulares</title>
</head>
<body>

    <h1>Lista de Celulares</h1>
    <table border="1">
        <thead>
           <tr>
            <th>Nome</th>
            <th>Preço</th>
           </tr>
        </thead>
        <tbody>
            <tr>
                <td>Samsung Galax A71</td>
                <td>1500,00</td>
            </tr>
            <tr>
                <td>Celular Samsung Z-Fold</td>
                <td>12000,00</td>
            </tr>
        </tbody>
    </table>
</body>
</html>