<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Móveis</title>
</head>
<body>

    <h1>Lista de Móveis</h1>
    <table border="1">
        <thead>
           <tr>
            <th>Nome</th>
            <th>Preço</th>
           </tr>
        </thead>
        <tbody>
            <tr>
                <td>Armario Suspenso</td>
                <td>500,00</td>
            </tr>
            <tr>
                <td>Mesa 4 lugares</td>
                <td>2000,00</td>
            </tr>
        </tbody>
    </table>
</body>
</html>