<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Clientes</title>
</head>
<body>

    <h1>Lista de clientes</h1>
    <table border="1">
        <thead>
           <tr>
            <th>Nome</th>
            <th>Compras na Loja</th>
           </tr>
        </thead>
        <tbody>
            <tr>
                <td>Patrik Luiz Gogola</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Luiz Gogola</td>
                <td>10</td>
            </tr>
        </tbody>
    </table>
</body>
</html>