/**** ESTILIZANDO FORMULÁRIOS****/
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

fieldset{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
}

legend{
    font-weight: bold;
}

label{
    display: block;
    cursor: pointer;
}

input{
    width: 40em;
}

input.radio, input.checkbox, input.submit{
    width: auto;
    margin-right: 2em;
}

textarea{
    width: 40em;
    height: 10em;
}